* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "PT Sans", sans-serif;
    background-color: #1C1C1C; 
    color: #c9d1d9; 
}
.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content a {
    margin: 0 15px;
}

.social-icon {
    width: 40px;
    height: 40px;
    filter: invert(100%);
    transition: transform 0.3s;
}

.social-icon:hover {
    transform: scale(1.2);
}
.toph {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
    color: #F3FEB8;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative; 
}


.hero {
    text-align: center;
    padding: 2rem;
    background-color: #2c2c2c;/*  #2c2c2c  #6a6a6a */
    color: white;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.25rem;
}

.homediv2{
    background-color: #2C3E50;
    box-sizing: border-box;
    margin: 3% 1%;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.homediv2 ul{
    padding: 5%;
}
.homediv2 li{
    font-size: 1.4em;
}
hr {
    border: 1px solid #000; margin: 20px 0;
    width: 90%;
}
.homediv2 h1{
    font-size: 2.2em;
}
.homediv2 p{
    margin-top: 2%;
    font-size: 1.5em;
}
.innerSec{
    border: black 2px solid;
    border-radius: 15px;
    margin: 2%;
}
.targetFound{
    background-color: green;
    padding: 2px;
    border: solid black 2px;
}

.sectionUser{
    background-color: #2C3E50;
    box-sizing: border-box;
    margin: 3% 1%;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.homediv {
    background: #161b22; 
    border-radius: 15px;
    padding: 20px;
    display: flex;
    gap: 20px;
    box-shadow: 0 8px 16px rgba(80, 44, 212, 0.5); /* Stronger shadow for more depth */
}
.errorP {
    font-size: 10px;
    background-color: rgb(231, 67, 67);
    border-radius: 15px;
    padding: 13px;
    border: rgb(245, 13, 13) 5px solid;    
    margin: 15px 15px;;
}
.errorP strong{
    font-size: 25px;
    background-color: #8E3E63;
    font-family: 'Courier New', Courier, monospace;
    border: black 3px solid;
    padding: 1px;
    border-radius: 10px;
}
.homediv div{
    
}
.homediv ul{
    padding: 5%;
}
.homediv li{
    font-size: 1.2em;
}
.homediv h1{
    font-size: 2.2em;
}
.homediv p{
    margin-top: 2%;
    font-size: 1.5em;
}
.imglogodiv
{
    margin-top: 4%;
    width: 90%;
    height: auto;
    border-radius: 10px;
}
.HangmanDiv {
    background-color: #424A52; 
    border: 2px solid #58a6ff; 
    border-radius: 15px;
    padding: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.TextInputDiv {
    background-color: #161b22; /* Dark slate blue */
    border: 2px solid #58a6ff; /* Light blue border */
    border-radius: 15px;
    padding: 20px;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}


.wordsDiv{
    display: flex;
    flex-direction: row;
    margin-top: 7%;
    padding: 2%;
}

.wordsDiv h2{
    margin: 10px;
    font-size: 50px;
    text-decoration: underline;
    text-decoration-color: black;        
    color: transparent;                  
}
a {
    font-size: 20px;
    text-decoration: none;
    background-color: #4CAF50;
    padding: 6px;
    border-radius: 15px;
    transition: 1s;
}
a:hover{
    font-size: 20px;
    text-decoration: none;
    background-color: #c9d1d9;
    padding: 6px;
    border-radius: 15px;
}

#gameOver{
    color: transparent;
    text-align: center;
    align-items: center;
    transition: 2s;
}
#won{
    color: transparent;
    text-align: center;
    align-items: center;
    transition: 2s;
}

.hangmanImg{
    width: 20%;
    
}

.input-container {
    background-color: #1C1C1C; 
    border: 2px solid #58a6ff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.input-container h2{
    display: inline-block;
    margin: 5px;
}
label {
    font-size: 1.2em;
    color: #c9d1d9; 
}

input[type="text"] {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 1.5em;
    border: 2px solid #58a6ff; 
    border-radius: 5px;
    color: white; 
    background-color: #1C1C1C; 
    outline: none;
    margin: 10px 0;
}

input[type="text"]::placeholder {
    color: #161b22; /* Subtle gray placeholder */
}

button:disabled {
    background-color: #ccc; 
    color: #238636; 
    cursor: not-allowed; 
    transform: scale(0.98); 
    box-shadow: none; 
}
button {
    padding: 10px 20px;
    background-color: #238636; /* Dark green for buttons */
    color: #ffffff;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4CAF50; /* Slightly lighter green on hover */
}

#guessedLettersDiv {
    margin-top: 15px;
    padding: 10px;
    background-color: #1C1C1C; /* Dark background */
    border: 1px solid #58a6ff; /* Light blue border */
    border-radius: 10px;
    width: 100%;
    text-align: center;
    color: #c9d1d9; /* Light gray text */
}

@media (min-width: 769px) {
    
    main {
        width: 70%;
        display: flex;
        flex-direction: column;
        margin-left: 15%;
    }
    section div{
        width: 70%;
        margin-left: 15%;
    }

}
@media (min-width: 1300px){
    main {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-left: 10%;
    }
    .homediv{
        background-color: #1C1C1C;
        box-sizing: border-box;
        margin: 3% 1%;
        padding: 15px;
        border-radius: 15px;
    }
    .homediv div{
        align-content: center;
    }
    
    .homediv h1{
        font-size: 2.2em;
    }
    .homediv p{
        margin-top: 2%;
        font-size: 1.5em;
    }
    .imglogodiv{
    margin-top: 4%;
    width: 40%;
    height: auto;
    border-radius: 10px;
    flex: 2;
    }
    section div{
        width: 50%;
        margin-left: 25%;
    }
}
code {
    font-family: 'Courier New', Courier, monospace;
}
